<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Weekly Newsletter for web developers">
  	<meta name="keywords" content="Newsletter,weekly,developers,web,programmers,technology">
  	<meta name="author" content="Gaurav Mehla">
	<title> _devblogs Newsletter </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="https://use.fontawesome.com/255271c2fb.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			
			<div class="title">
				<span class="title_">_</span><span class="title_dev">dev</span><span class="title_blogs">blogs</span>
			</div>
		</div>
		<div class="row col-8 blog_body" style="padding:20px;">
			<div class="blog_body_content">
				A free, <span class="red_underline">weekly</span> e-mail round-up of tech news and articles for only <span class="red_underline">web hackers</span> aka <span style="font-weight: bold; padding-left :5px;padding-right: 5px;"> full-stack </span> web <span class="red_bg">dev</span>elopers.
			</div>

			<a class="subscribe" href="/subscribe">
				Subscribe Now
			</a>
		</div>
		<div class="social">
			<a class="social_icon" href="https://www.instagram.com/_devblogs/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>
			</a>
			<a class="social_icon" href="https://www.twitter.com/_devblogs" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
			<a class="special" href="https://medium.com/dev-blogs" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
			<a class="social_icon" href="https://www.facebook.com/devblogs/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
</div>
		</div>
	</div>
	<script type="text/javascript" src="javascripts/script.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>