<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Weekly Newsletter for web developers">
  	<meta name="keywords" content="Newsletter,weekly,developers,web,programmers,technology">
  	<meta name="author" content="Gaurav Mehla">
	<title>_devblogs Newsletter</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;width: 100%;}</style>
</head>
<body>
	<div class="row">
		<div class="col-md-6">
			<p class="back"><a href="/"> Back to home </a></p>
			<div class="container">
				<div id="mc_embed_signup">
					<form action="//xyz.us16.list-manage.com/subscribe/post?u=9f0eda079981be81a77f7478c&amp;id=5a78e8e56b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<center>
							<img src="http://joinmontreal375.mtl.org/static/public/img/home/main_burst.svg" width="400" style="margin-top:50px;margin-bottom: 100px;">
						</center>
					<div class="mc-field-group">
						<input type="email" value="" placeholder="enter your email id" name="EMAIL" class="required email" id="mce-EMAIL" style="text-align: center">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9f0eda079981be81a77f7478c_5a78e8e56b" tabindex="-1" value=""></div>
					    <div class="clear">
					    <center><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button submitButton"></center></div>
					    </div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<center><span class="faq faq_title">FAQ</span></center>
			<div class="sub-side">
				<div class="faq faq_block">
					<div class="faq faq_q">
						What is <span class="title_">_</span><span class="title_dev">dev</span><span class="title_blogs">blogs</span>?
					</div>
					<div class="faq faq_a">
						Devblogs is a weekly newsletter. It gives you the best links every week about Backend, Web Frontend, DevOps and User Experience.
					</div>
				</div>
				<div class="faq faq_block">
					<div class="faq faq_q">
						Who need to read it?
					</div>
					<div class="faq faq_a">
						Devblogs primarily targets Full-Stack Developers, and anybody who need to stay relevant on a wide scope of technologies.

						Devblogs is also read by non-tech people, working in tech environment, who want to acquire a good general knowledge on what the tech world is about today.
					</div>
				</div>
				<div class="faq faq_block">
					<div class="faq faq_q">
						Where are the links curated from?
					</div>
					<div class="faq faq_a">
						The links are curated from social sites like HN, DN, Reddit, Quora, tech blogs like TechCrunch, PandoDaily, and also other newsletters and podcasts.
					</div>
				</div>
				<div class="faq faq_block">
					<div class="faq faq_q">
						When do I receive the links?
					</div>
					<div class="faq faq_a">
						Every Monday 8am.
					</div>
				</div>
				<div class="faq faq_block">
					<div class="faq faq_q">
						Is it free?
					</div>
					<div class="faq faq_a">
						Yes.
					</div>
				</div>
				<div class="faq faq_block">
					<div class="faq faq_q">
						Can I unsubscribe at any time?
					</div>
					<div class="faq faq_a">
						Yes. Every email we send contains a link to unsubscribe.
					</div>
				</div>
			</div>
			<center><span style="color:red;">Scroll for more</span></center>
		</div>
	</div>
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
	<script type="text/javascript" src="javascripts/script.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>