body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
	font-size: 24px;
}

.title_ {
	color: red;
}

.title_dev {
	color : black;
}

.title_blogs {
	color : grey;
}

.body {
	margin-top: 100px;
}

.subscribe {
	background: red;
	padding: 20px;
	margin: 10px;
	margin-top: 200px;
	cursor: pointer;
	text-decoration: none !important;
	color: white !important;
}