body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title {
	font-size: 24px;
}

.title_ {
	color: red;
}

.title_dev {
	color : black;
}

.title_blogs {
	color : grey;
}

.body {
	margin-top: 100px;
}

.subscribe {
	background: red;
	padding: 20px;
	margin: auto;
	margin-top: 200px;
	cursor: pointer;
	text-decoration: none !important;
	color: white !important;
}

.submitButton {
	background: red !important;
}

.back a{
	text-decoration: none;
	padding: 10px;
	color: black;
	border-bottom: 1px solid red;
	border-top: 1px solid red;
}

.back a:hover{
	background: red;
	color: white;
	padding: 10px;
}

.blog_body {
	margin: auto;
}

.blog_body_content {
	font-size: 32px;
	line-height: 68px;
}

.red_bg {
	background: red;
	color: white;
	padding-left: 2px;
	padding-right: 2px;
	border-right : 2px solid white;
	-webkit-animation: blinking 1.2s linear infinite ; /* Safari 4.0 - 8.0 */
    animation: blinking 1.2s linear infinite ;
}

.red_underline {
	border-bottom : 2px solid red;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes blinking {
    0%   {background :red; color:white; }
    40% {background :white; color:black; border-right : 2px solid black;}
    100% {background :white; color:black;}
}

/* Standard syntax */
@keyframes blinking {
    0%   {background :red; color:white; }
    40% {background :white; color:black; border-right : 2px solid black;}
    100% {background :white; color:black;}
}